.hero-section {
  min-height: 80vh;
}

.hero-section h1 {
  font-size: 58px;
  font-weight: 900;
  line-height: 62px;
  letter-spacing: 0em;
}

.gray-text {
  color:#727274;
  font-size: 15px;
}

.socials {
  margin-top: 120px;
}

.socials img {
  width: 30px;
  height: 30px;
}
