.hero-section {
  min-height: 70vh;
  margin-top: 5rem;
}

.hero-section h1 {
  font-size: 58px;
  line-height: 62px;
  letter-spacing: 0em;
  margin-bottom: 2rem;
}

.gray-text {
  color:#545458;
  font-size: 15px;
}

.socials {
  margin-top: 5rem;
}