#portfolio {
  margin-bottom: 100px;
}

#portfolio .card {
  border: 1px solid #D0D9D4;
  border-radius: 8px;
  margin-bottom: 10px;
}

.card img {
  background: #EBF0EE;
}

.portfolio-language .badge {
  background: #EBF0EE !important;
  color: #172B4D;
}