#about {
  margin-bottom: 100px;
}

.card {
  background: #EBF0EE;
}

.card-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
}

#about .badge {
  padding: 12px;
  text-align: center;
  background: #FFFFFF !important;
  border-radius: 8px;
}