.navbar {
  height: 20vh;
  z-index: 1;
  background: #fff;
}

.navbar-brand img {
  width: 65px;
  height: 35px;
}

.active {
  color: #F9855B;
}

.navbar-nav a {
  cursor: pointer;
  font-weight: 500;
  margin-left: 10px;
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .navbar-collapse
    {
      background-color:#fff;
    }
}