.navbar {
  height: 20vh;
  z-index: 1;
  background: #fff;
}

.navbar-brand img {
  width: 80px;
  height: 40px;
}

.active {
  color: #F9855B;
}

.navbar-nav a {
  cursor: pointer;
  font-weight: 500;
  margin-left: 20px;
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .navbar-collapse
    {
      min-height: 100vh;
    }
}