.navbar {
  height: 20vh;
  z-index: 1;
  background: #f2f2f2;
}

.navbar-brand img {
  width: 65px;
  height: 35px;
}

.active {
  color: #F9855B !important;
}

.nav-link {
  cursor: pointer;
  font-weight: 500;
}