body {
  margin: 0;
  padding: 0;
  background: #f2f2f2;
  background-image: url(./assets/images/bg-1.png);
  background-repeat: no-repeat;
  background-position: right 30vh;
  overflow-x: hidden;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
}

.btn {
  background: #F9855B;
  color: #fff;
  font-size: 14px;
  border-radius: 0 !important;
  padding: 10px 20px;
}